<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Details</title>
</head>
<body>
<ul>
    <li>Business Blogs</li>
    <p>This includes commercial websites.</p>
    <p>Date: 2/04/2009</p>
</ul>
<ul>
    <li>Food Blogs</li>
    <p>This includes hotel and restaurants websites.</p>
    <p>Date: 3/10/2012</p>
</ul>
<ul>
    <li>Interior Design Blogs</li>
    <p>This includes design websites.</p>
    <p>Date: 4/05/2010</p>
</ul>
<ul>
    <li>Fitness Blogs</li>
    <p>This includes fitness websites.</p>
    <p>Date: 5/07/2020</p>
</ul>


</body>
</html>